html, body {
  height: 100%;
}

nav, footer {
  height: 50px;
}

footer {
  padding: 30px 0;
}

body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}
a {
  color: #03A9F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding: 5px 10px;
}

input[type=button] {
  min-width: 30px;
}

hr {
  margin-bottom: 10px;
}
